<script>

</script>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <li class="input"><input type="text" id="search" name="search" value=""

                                 onkeydown="keyFun.key(event,13,product.search,[$('#search'),'{:url('/admin/materialforecast/index')}'])"

                                 placeholder="搜索：产品名称/产品ID" /></li>

        <li><a href="javaScript:product.search([$('#search'),'{:url('/admin/materialforecast/index')}'])">搜索</a></li>

    </ul>

    {$pageDiv}

</div>

<div class="canvas_intro">

    <table class="productli">

        <thead>

        <tr>

            <th width="10" class="center">#</th>

            <th width="10" class="center"><input name="" type="checkbox" value="" id="select" /></th>

            <th width="30" class="center">id</th>

            <th width="50" class="center">产品ID</th>

            <th width="100" class="center">产品编号</th>

            <th width="150">产品名称</th>

            <th width="150">缩略图</th>

            <th width="150">型号</th>
            <th width="150">{$today}预估量</th>
            <th width="150" class="center">操作</th>

        </tr>

        </thead>

        <tbody>

        {volist name='list' id='value' key='k'}

        <tr>

            <td class="center">{$k}</td>

            <td class="center"><input name="select" type="checkbox" value="{$value.id}" /></td>

            <td class="center">{$value.id}</td>

            <td class="center">{$value.product_id}</td>

            <td class="center">{$value.product_num}</td>

            <td>{$value.name}</td>

            <td>{if condition="strstr($value.smallimg,'http')"}<img src='{$value.smallimg}@0e_0o_1l_500h_500w.src' />{else}<img src='{:PRODUCT_IMG}{$value.smallimg}' />{/if}</td>

            <td>

                {volist name='value.productsize' id='size'}

                {$size.Size}<br/>

                {/volist}

            </td>
            <td>
                {$value.predict}
            </td>
            <td class="center operation">
                <a href="{:url('/admin/materialforecast/predict_details','product_id='.$value.product_id)}">查看详情</a>
            </td>

        </tr>

        {/volist}

        </tbody>

    </table>

</div>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <!--<li><a href="{:url('/admin/product/add')}">添加</a></li>

        <li><a href="javaScript:product.deleteall('{:url('/admin/product/delete')}')">删除</a></li>-->

    </ul>

    {$pageDiv}

</div>

<script>
    var materialforecast = {

        search:function(){
            var value=$('#search').val();
            if (value == '') {
                alert('搜索词为空');
                return;
            }
            var url = "{:url('/admin/orderexcel/index')}";
            $.StandardPost(url, {search:value});
        },
    }
</script>