<div class="topline">
      <h1><img src="{:USER_STYLE_URL}images/logo.png" /></h1>
      <ul class="rightbox">
         <li>
            <a href="javaScript:;" class="fa move_over"><span>{:session('user_name')}</span></a>
            <ul class="nav">
                <li><a href="{:url('/user/login/logout')}">退出登录</a></li>
               <li><a href="{:url('/user/acount/editpwd')}">修改密码</a></li>
            </ul>
         </li>
         <!--<li class="delete"><a href="#">删除缓存</a></li>-->
      </ul>
   </div>