<style>
    .name {
        line-height: 28px;
        font-size: 14px;
        min-height: 28px;
        position: relative;
        padding-left: 105px;
        float: left;
        margin-bottom: 5px;
    }
    .canvas_intro table.product {
        margin-top: 30px;
        margin-bottom: 80px;
        margin-right: 50px;
        margin-left: 10px;
    }
    .canvas_intro table.product {
        width: 80%;
        border: solid #000000;
        border-width: 1px 0px 0px 1px;
        padding: 2px;
        margin: 8px 0;
        margin-bottom: 12px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
    }
    .canvas_intro table.product td {
        padding: 20px 8px;
        height: 42px;
        vertical-align: middle;
        text-align: center;
        border: solid #000000;
        border-width: 0px 1px 1px 0px;
        display: table-cell;
    }
    .canvas_intro table.product table.productchild {
        width: 100%;
        height: 100%;
        border: solid #000000;
        border-width: 1px 0px 0px 1px;
        margin: 8px 0;
        margin-bottom: 1px;
    }
    .canvas_intro {
        overflow-y:auto;
        overflow-x:auto;
        height:635px;
    }
    .modelboxv {
        width: 600px;
        background: #fff;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 0 auto;
        margin-top: 50px;
        max-height:calc(100% - 100px);
        overflow-y: scroll;
    }
    .qrcodeimg {
        margin: 1px;
        width: 200px;
        /*height: 151.8px;*/
        /*transform:scale(0.8)*/
    }
    .printdiv {

    }
    div.printcent {

        left: -10000px;
    }

</style>

<div class="modelboxv">

    <div class="canvas_title do-clear">

        <ul class="tab_btn tab_btn_fl fl">

        </ul>

        <ul class="tab_btn fr">

            <li><a href="javaScript:print_fbatap({$list.id});">打印</a></li>
            <li><a href="javaScript:openModel.close()">关闭</a></li>

        </ul>

    </div>

    <div class="canvas_intro" style="text-align:center">
        <input type="hidden" id="product_num" value="{$list.number}"/>
        <!--<div id="print_tap_demo">
            <img src=":url('/admin/fba/get_barcode','id='.$list.id)" ><br/>
        </div>-->
        <br class="no-print">
        <br class="no-print">
        <br class="no-print">
        <br class="no-print">
        <label for="print_num" class="no-print">打印数量：</label><input class="no-print" type="text" name="print_num" id="print_num" oninput="value=value.replace(/[^\d]/g,'')"/>
    </div>


</div>

<div id="real_print_tap"></div>