<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>获取运单号</title>
        <script type="text/javascript" src="{:ADMIN_STYLE_URL}js/jquery.min.js"></script>
        <link href="{:ADMIN_STYLE_URL}css/r.css" rel="stylesheet" type="text/css" />
        <style>
            ul{margin: 20px;}
            ul li{height:24px; line-height: 24px;}
            ul li a{ text-decoration: none; color: #333;}
            ul li a:hover{color: #999;}
        </style>
    </head>

    <body>
        <ul>
            <!--<li><a href="{:url('/index/order')}?order=111-7930460-7549811%3Ag16106020p168c198s291%231|112-8658880-5945855%3Ag16105547p233c268s425%231&type=A">手动下单地址</a></li>-->
            <li><a href="{:url('/index/business')}">导出业务报表</a></li>
            <li><a href="{:url('/index/fba')}">导出FBA数据</a></li>
        </ul>
    </body>
</html>
