<div class="modelbox">
    <div class="canvas_title do-clear">
        <ul class="tab_btn fr">
            <li><a href="javaScript:order.selectfactory()">确定</a></li>
            <li><a href="javaScript:openModel.close()">关闭</a></li>
        </ul>
    </div>
    <div class="libox">
        <div class="factory" id="factorys">
            {volist name='factorys' id='value' key='k'}
            <input type="checkbox" name="factory"  id="factory{$k}" value="{$value.id}"><label for="factory{$k}">{$value.userinfo.Name}</label>
            {/volist}
        </div>
    </div>
    <div class="canvas_title do-clear">
        <ul class="tab_btn fr">
            <li><a href="javaScript:order.selectfactory()">确定</a></li>
        </ul>
    </div>
</div>
<script>order.selectFactory();</script>