<style>
    .openyes {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #5bb75b;
        color: #fff;
        font-size: 12px;
    }
    .closeno {
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #e80c0c;
        color: #fff;
        font-size: 12px;
    }
</style>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <li><a href="{:url('/admin/expsetting/add_exp')}">添加</a></li>

        <!--<li><a href="javaScript:lgstcode.deleteall('{:url('/admin/product/delete')}')">删除</a></li>-->


        <!--<li class="input"><input type="text" id="search" name="search" value=""

                                 placeholder="搜索：快递名称/快递code" /></li>

        <li><a href="javaScript:lgstcode.search()">搜索</a></li>-->

    </ul>

    {$pageDiv}

</div>

<div class="canvas_intro">

    <table class="productli">

        <thead>

        <tr>

            <th width="10" class="center">#</th>

            <!--<th width="10" class="center"><input name="" type="checkbox" value="" id="select" /></th>-->

            <th width="30" class="center">id</th>

            <th width="100" class="center">快递名称</th>

            <th width="100" class="center">快递code</th>

            <th width="50">自动设置工厂</th>

            <th class="center" width="150">操作</th>

        </tr>

        </thead>

        <tbody>

        {volist name='lgscode' id='value' key='k'}

        <tr>

            <td class="center">{$k}</td>

            <!--<td class="center"><input name="select" type="checkbox" value="{$value.id}" /></td>-->

            <td class="center">{$value.id}</td>

            <td class="center">{$value.lgstcode_name}</td>

            <td class="center">{$value.lgstcode}</td>

            <td>{if condition="$value.status == 1"}<span class="openyes">是</span>{else}<span class="closeno">否</span>{/if}</td>

            <td class="center operation">

                <a href="{:url('/admin/expsetting/edit_exp','id='.$value.id)}">编辑</a>

                <!--<a href="javaScript:lgstcode.delete('{:url('/admin/product/delete')}',['{$value.id}'])">删除</a>-->

            </td>

        </tr>

        {/volist}

        </tbody>

    </table>

</div>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <li><a href="{:url('/admin/expsetting/add_exp')}">添加</a></li>

        <!--<li><a href="javaScript:lgstcode.deleteall('{:url('/admin/product/delete')}')">删除</a></li>-->

    </ul>

    {$pageDiv}

</div>

<script>
    var lgstcode = {
        search:function() {
            var search_key = $('#search').val().replace(/^\s*|\s*$/g,"");

        },
    };
    document.getElementById('search').focus();
</script>