
<style>

</style>

<header class="header-cls">
    <a href="javaScript:history.go(-1);" style="color: #fff;"><span class="iconfont iconleft left-cls"></span></a>
    <div class="header-title" id="header-title">{$menu[$currentMenu.menu]['nav'][$currentMenu.nav]['title']}</div>
    <span class="iconfont icondelete right-cls"></span>
    <span class="right-cls completeBtn disNone">完成</span>
</header>

<div class="content-cls">
    <div class="input-box">
        <input type="text" placeholder="输入状态码/订单号" id="input_num" onkeydown="keyspress()" />
        <input type="hidden" id="pro_status_barcode" name="pro_status_barcode" value="" />
       <!-- <span class="pro_status_name" id="pro_status_name">生产状态：{if condition="empty('')"}{else}{/if}</span>-->
    </div>
    <ul class="list-cls" id="order">
        <!--<li>
            <div class="font-bold">订单号：<span class="flex-1">113-3780507-4081020</span><span>1件/15天</span></div>
            <div>SKU：<span class="flex-1">g23014123p262c299s505</span>
                <input type="checkbox" name="orderData" value="id" class="checkBtn disNone">
            </div>
            <div class="img-box">
                <img src="images/prduct_1.jpg" alt="">
                <div class="flex-1">
                    <p>印花：<span>欧锦数码</span></p>
                    <p>加工：<span>飞飞鱼工贸</span></p>
                </div>
            </div>
            <div class="list-btn">
                <div class="flex-1"></div>
                <button>取消指派</button>
                <button class="full-btn">确认状态</button>
            </div>
        </li>-->

    </ul>
    <div class="fiex-bottom disNone">
        <div class="flex-1">
            <input type="checkbox" id="checkAll">
            <label for="checkAll">全选</label>
        </div>
        <div class="del-cls"><a href="javaScript:pro_status.cancelallPro()" style="color: #fff;">删除</a></div>
    </div>
</div>
<script type="text/javascript">
    function keyspress(frm,event) {
        var events = window.event ? window.event : event;
        if (events.keyCode == 13) {
            pro_status.search();
        }
    }
    //计算手机端宽度和设计稿750px结合 rem  1rem = 100px 以iphone6 为准
    var deviceWidth = document.documentElement.clientWidth;
    if (deviceWidth > 750) {  //设备最大值750px iphone6 375px@2
        deviceWidth = 750;
    }
    if (deviceWidth < 320) {  //设备最小320px  iphone4
        deviceWidth = 320;
    }
    document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    let checkLen = ''; // 复选框数量
    let nowCheck = ''; // 当前选中个数
    $(function(){
        checkLen = $('.list-cls li').length;
    });
    // 切换删除事件
    $('.icondelete').click(function(){
        $('.list-cls').addClass('isDetele');
        $('.completeBtn, .checkBtn, .fiex-bottom').removeClass('disNone');
        $('.icondelete').addClass('disNone');
        // 删除项全部改为未选中
        $('#checkAll').prop('checked', false);
        $("input[name='orderData']").prop("checked", false);
        $("#input_num").hide();
        $("#toolbar").hide();
    });
    // 完成事件
    $('.completeBtn').click(function(){
        $("#input_num").show();
        $("#toolbar").show();
        $('.list-cls').removeClass('isDetele');
        $('.icondelete').removeClass('disNone');
        $('.completeBtn, .checkBtn, .fiex-bottom').addClass('disNone');
        document.getElementById('input_num').focus();
    });

    function check_btn() {
        // 单选事件
        //$('.checkBtn').click(function () {
            checkboxFn();
        //});
    }

    // 全选事件
    $('#checkAll').click(function(){
        checkboxFn();
        if ($('#checkAll').is(':checked')) {
            $('#checkAll').prop('checked', false);
            $("input[name='orderData']").prop("checked", false);
        } else {
            /*var arr = document.getElementsByName('orderData');
            var ck = document.getElementById('checkAll');
            for(i in arr){
                arr[i].checked=ck.checked; // 全选
                //arr[i].checked=!arr[i].checked; 反向全选
            }*/
            $('#checkAll').prop('checked', true);
            $("input[name='orderData']").prop("checked", true);
        }
    });

    // 检测复选框数量
    function checkboxFn() {
        checkLen = $('.list-cls li').length;
        nowCheck =  $("input[name='orderData']:checkbox:checked").length;
        if (checkLen === nowCheck) {
            $('#checkAll').prop('checked', true);
        } else {
            $('#checkAll').prop('checked', false);
        }
    }
    //截取字符，中英文都可以，hasDot=true 返回值的最后还可以添加3个点
    function subStrings(str, len, hasDot) {
        var newLength = 0;
        var newStr = "";
        var chineseRegex = /[^\x00-\xff]/g;
        var singleChar = "";
        var strLength = str.replace(chineseRegex, "**").length;
        for (var i = 0; i < strLength; i++) {
            singleChar = str.charAt(i).toString();
            if (singleChar.match(chineseRegex) != null) {
                newLength += 2;
            }
            else {
                newLength++;
            }
            if (newLength > len) {
                break;
            }
            newStr += singleChar;
        }

        if (hasDot && strLength > len) {
            newStr += "...";
        }
        return newStr;
    }

    var pro_status = {
        order:[],
        pro_status_name:[],
        pro_status_barcode:'',
        appointOrd:[],
        //获得状态条形码
        getPro_status:function() {
            pro_status.pro_status_barcode = $('#pro_status_barcode').val();
            if (pro_status.pro_status_barcode == '') {
                alert('请先扫描生产状态条形码');
                document.getElementById('input_num').focus();
                return
            }
        },
        //获得订单
        getOrd:function(){
            pro_status.appointOrd=[];
            $("[name=orderData]:checked").each(function(){
                pro_status.appointOrd.push($(this).val());
            });
        },
        //绑定状态
        search:function() {

            var search_order = $('#input_num').val();
            document.getElementById('input_num').value = '';
            if (search_order == '') {
                alert('订单号/条形码不能为空');
                document.getElementById('input_num').focus();
                return;
            }
            //条形码指定
            if (search_order.search('-prostatus') != -1) {
                var search_arr = search_order.split('-');
                var pro_status_id = search_arr[0];
                //document.getElementById('pro_status_barcode').value = search_order;
                $.post("{:url('/user/productionstatusset/product_status')}", {id:pro_status_id}, function(res) {
                    if (res['code'] != 1000) {
                        alert(res['msg']);
                        document.getElementById('pro_status_barcode').value = '';
                        document.getElementById('input_num').focus();
                        return;
                    }
                    document.getElementById('pro_status_barcode').value = res.data.id + '-prostatus';
                    var status_inner = '生产状态绑定(' + res.data.status_name + ')';

                    document.getElementById('header-title').innerHTML = subStrings(status_inner, 26, true);
                    document.getElementById('input_num').focus();
                });

            } else {
                //pro_status.getPro_status();
                pro_status.pro_status_barcode = $('#pro_status_barcode').val();
                if (pro_status.pro_status_barcode == '') {
                    alert('请先扫描生产状态条形码');
                    document.getElementById('input_num').focus();
                    return;
                }

                var pro_status_arr = pro_status.pro_status_barcode.split('-');
                var pro_status_id = pro_status_arr[0];
                $.post("{:url('/user/productionstatusset/bind_order_pro')}", {OrdNum:search_order, pro_status_id:pro_status_id}, function(res) {
                    var orderHtml = document.getElementById('order');
                    var html = orderHtml.innerHTML;
                    if (res.list.length == 0) {
                        document.getElementById('input_num').focus();
                        return;
                    }
                    for(var i = 0; i < res.list.length; i++) {
                        var check = '';
                        if (res.autoConfirm == true) {
                            check = 'checked';
                        }
                        //var days = 0;
                        var startTime = new Date(res.list[i].AmzTimer); // 开始时间
                        var endTime = new Date(); // 结束时间
                        var days_diff = Math.floor((endTime - startTime) / (24 * 3600 * 1000));
                        //days = String(days);
                        if (days_diff < 1) {days_diff = 0;}
                        //console.log(days);
                        days_diff = days_diff.toString() + '天s';
                        var imgArr = res.list[i].ImgURL.split(',');
                        var imgUrl = '';
                        if (imgArr.length > 0) {imgUrl = imgArr[0];}
                        var pFac = '';//印花
                        var mFac = '';//加工
                        var urgen = '';
                        if (res.list[i].Urgent == 1) {
                            urgen = '<span class="ugrens">(急)</span>';
                        }
                        for (var j = 0; j < res.list[i].orderFactory.length; j++) {
                            if (res.list[i].orderFactory[j].working_type == 1) {pFac += res.list[i].orderFactory[j].userinfo.Name;}
                            if (res.list[i].orderFactory[j].working_type == 2) {mFac += res.list[i].orderFactory[j].userinfo.Name;}
                        }
                        var hpfac = '';
                        var hmfac = '';
                        if (pFac != '') {hpfac = '<span class="hpfac">' + pFac + '</span>';}
                        if (mFac != '') {hmfac = '<span class="hmfac">' + mFac + '</span>';}
                        var orderidpro = res.list[i].id + '-' + res.list[i].bind_pro_status_id;
                        html = '<li id="del' + res.list[i].id + '-' + res.list[i].bind_pro_status_id + '"> ' +
                            '<div class="font-bold">订单号：<span class="flex-1">' + res.list[i].OrdNum + urgen + '</span><span>' + res.list[i].GdsNum + '件/' + res.list[i].days_diff + '天</span></div> ' +
                            '<div>SKU：<span class="flex-1">' + res.list[i].GdsSku + '</span>' +
                            '<input onchange="check_btn()" type="checkbox" name="orderData" id="' + res.list[i].OrdNum + i + '" class="checkBtn disNone" value="' + res.list[i].id + '-' + res.list[i].bind_pro_status_id + '"'  + check + ' />' +
                            '</div>' +
                            '<div class="img-box">' +
                            '<img src="http://kjds-img.img-cn-shanghai.aliyuncs.com/' + imgUrl + '@0e_0o_1l_500h_500w.src" alt="">' +
                            '<div class="flex-1">' +
                            '<p>印花：<span>' + hpfac + '</span></p>' +
                            '<p>加工：<span>' + hmfac + '</span></p>' +
                            '</div>' +
                            '</div>' +
                        '<div class="list-btn"> ' +
                        '<div class="flex-1"></div>' +
                        '<button id="cancel' + res.list[i].id + '">' + '<a href="javascript:pro_status.cancelPro(' + res.list[i].id + ',' + res.list[i].bind_pro_status_id + ')" style="color: #ffb100;" class="confirm_button" >取消指派</a></button>' +
                        '<button class="full-btn">' +
                        '<a href="javascript:pro_status.autoappointPro(' + res.list[i].id + ',' + res.list[i].bind_pro_status_id + ')" style="color: #fff;" class="confirm_button" id="confirm' + res.list[i].id + '">确认状态</a></button>' +
                        '</div>' +
                        '</li>'  + html;
                    }

                    orderHtml.innerHTML = html;
                    //document.getElementById('searchOrdNum').value = '';
                    document.getElementById('input_num').focus();
                    if (res.list.length == 1) {
                        //setTimeout(function () {order.autoappointFac(res.list[0].id)}, 5000);
                        var count = 3;
                        //$("#cancel" + res.list[0].id).addClass('disable');
                        //document.getElementById('cancel' + res.list[0].id).remove();
                        var star = window.setInterval(function(){
                            document.getElementById("confirm" + res.list[0].id).innerHTML = "自动指派状态(" + (count--) + 's)';
                            if(count == 0){
                                window.clearInterval(star);
                                //document.getElementById("setFac").innerHTML = "指派工厂";
                                pro_status.autoappointPro(res.list[0].id, res.list[0].bind_pro_status_id);
                            }
                        }, 1000);
                    }
                });
            }
        },
        //批量取消自动指派状态
        cancelallPro:function() {
            pro_status.getOrd();
            if (pro_status.appointOrd.length == 0) {
                alert('请选择需要取消的订单');
                document.getElementById('input_num').focus();
                return;
            }
            document.getElementById('input_num').focus();
            for (var dd = 0; dd < pro_status.appointOrd.length; dd++) {
                document.getElementById('del' + pro_status.appointOrd[dd]).remove();
                //document.getElementById('brdel' + order.appointOrd[dd]).remove();
            }
            checkboxFn();
        },
        //取消自动指派状态
        cancelPro:function(ord_id,pro_id) {
            var orderpro = ord_id + '-' + pro_id;
            document.getElementById('input_num').focus();
            document.getElementById('del' + orderpro).remove();
        },
        //自动指派状态
        autoappointPro:function(ord_id,pro_id) {
            //order.getOrd();
            //var data_arr = ord_id.split('-');
            var orderpro = ord_id + '-' + pro_id;
            var ord = [orderpro];
            console.log(orderpro);

            if (ord.length == 0) {
                alert('请选择需要指派订单');
                document.getElementById('input_num').focus();
                return;
            }
            console.log(ord);

            $.post("{:url('/user/productionstatusset/appointPro')}", {order_id:ord}, function(res) {
                if (res['code'] != 1000) {
                    alert(res['msg']);
                    document.getElementById('input_num').focus();
                    return;
                }
                //alert(res['msg']);
                document.getElementById('input_num').focus();
                document.getElementById('del' + orderpro).remove();
                //document.getElementById('del' + ord_id).remove();
                //document.getElementById('order').innerHTML = '';
                //window.location = "{:url('/admin/productionmanage/orderFac')}"+'?pFactory=' + order.printFactory + '&mFactory=' + order.macFactory;
            });
        },

        appointPro:function() {
            pro_status.getOrd();

            if (pro_status.appointOrd.length == 0) {
                alert('请选择需要指派订单');
                document.getElementById('input_num').focus();
                return;
            }

            $.post("{:url('/user/productionstatusset/appointPro')}", {order_id:pro_status.appointOrd}, function(res) {
                if (res['code'] != 1000) {
                    alert(res['msg']);
                    document.getElementById('input_num').focus();
                    return;
                }
                alert(res['msg']);
                document.getElementById('input_num').focus();
                for (var dd = 0; dd < pro_status.appointOrd.length; dd++) {
                    document.getElementById('del' + pro_status.appointOrd[dd]).remove();
                    //document.getElementById('brdel' + order.appointOrd[dd]).remove();
                }
                //document.getElementById('order').innerHTML = '';
                //window.location = "{:url('/admin/productionmanage/orderFac')}"+'?pFactory=' + order.printFactory + '&mFactory=' + order.macFactory;
            });
        }
    };
    document.getElementById('input_num').focus();//将输入光标定位到搜索框
</script>