<?xml version="1.0" encoding="utf-8"?>
<!--版本信息以及配置-->
<config>
   <!--雨伞列表-->
   <Umbrella>{:url("/admin/Software/umbrellalist")}</Umbrella>
   <!--工厂列表-->
   <Factory>{:url("/admin/Software/factory")}</Factory>
   <!--雨伞模板数据-->
   <UmbrellaTmp>{:url("/admin/Software/umbrellatmp")}</UmbrellaTmp>
   <!--上次预览图-->
   <UploadBrowse>{:url("/admin/Software/uploadbrowse")}</UploadBrowse>
   <!--上传模板-->
   <UploadTmp>{:url("/admin/Software/uploadtmp")}</UploadTmp>
   <!--提交数据-->
   <PostData>{:url("/admin/Software/umbrellasave")}</PostData>
</config>