<div class="modelbox">
    <div class="canvas_title do-clear">
        <ul class="tab_btn tab_btn_fl fl">
            <li class="input">
                <input type="text" id="window_search" name="window_search" value="" onkeydown="keyFun.key(event, 13, openModel.search)" placeholder="搜索：名称,产品ID">
            </li>
            <li><a href="javaScript:openModel.search()">搜索</a></li>
        </ul>
        <ul class="tab_btn fr">
            <li><a href="javaScript:order.selectproduct()">确定</a></li>
            <li><a href="javaScript:openModel.close()">关闭</a></li>
        </ul>
    </div>
    <div class="libox">
        <ul class="model_li do-clear" id="model_li">
            {volist name='list' id='value' key='k'}
            <li>
                <input type="checkbox" name="produc"  id="product{$k}" value="{$value.product_id}">
                <label for="product{$k}">
                    {if condition="strstr($value.smallimg,'http')"}<img src='{$value.smallimg}@0e_0o_1l_500h_500w.src' />{else}<img src='{:PRODUCT_IMG}{$value.smallimg}' />{/if}
                    <h3>{$value.name}</h3>
                </label>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="canvas_title do-clear">
        <ul class="tab_btn fr">
            <li><a href="javaScript:order.selectproduct()">确定</a></li>
        </ul>
    </div>
</div>
<script>order.selectStart();</script>