<script>

    $(function(){

        select.select();

    })

</script>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <li><a href="{:url('/admin/upplier/add','id='.$type)}">添加</a></li>

        <li><a href="javaScript:upplier.deleteall('{:url('/admin/upplier/delete')}')">删除</a></li>

        <li class="input"><input type="text" id="search" name="search" value="" 

      onkeydown="keyFun.key(event,13,search.search,[$('#search'),'{:url('/admin/upplier/index','id='.$type)}'])" 

      placeholder="搜索：供应商/联系人" /></li>

      <li><a href="javaScript:search.search([$('#search'),'{:url('/admin/upplier/index','id='.$type)}'])">搜索</a></li>

    </ul>

    {$pageDiv}

</div>

<div class="canvas_intro">

    <table class="productli">

        <thead>

            <tr>

                <th width="10" class="center">#</th>

                <th width="10" class="center"><input name="" type="checkbox" value="" id="select" /></th>
                <th width="" >供应商属性</th>
                <th width="" >供应商</th>
                <th width="" >供应商简称</th>

                <th width="" >联系方式</th>
                <th >地址</th>
                <th class="center">类型</th>
                <th class="center">账期/付款方式</th>
                <th class="center">对公汇款账号</th>
                <th class="center">对私汇款账号</th>
                <th class="center">主要购入材料</th>
                <th class="center">备注</th>

                <th width="" class="center">创建时间</th>

                <th class="center">状态</th>

                <th class="center" width="200">操作</th>

            </tr>

        </thead>

        <tbody>

            {volist name='list' id='value' key='k'}

            <tr>

                {if condition="$value.auditsupplier == null"}
                <td>{$k}</td>

                <td><input name="select" type="checkbox" value="{$value.id}" /></td>
                <td>{$value.attribute}</td>
                <td>{$value.company}</td>
                <td>{$value.company_for_short}</td>

                <td class="info">
                    <label>联系人：</label>{$value.contacts}<br/>
                    <label>职位：</label>{$value.contacts_position}<br/>
                    <label>电话：</label>{$value.tel}<br/>
                    <label>邮箱：</label>{$value.email}<br/>
                </td>

                <td>{$value.adress}</td>

                <td class="center">{if condition="$value.type=='1'"}布料供应{elseif condition="$value.type=='2'"}辅料供应{elseif condition="$value.type=='3'"}材料加工{else}印花供应{/if}</td>
                <td class="center">{$value.payment_days}</td><!-- 账期/付款方式 -->
                <td class="info">
                    <label>户名：</label>{$value.remittance_num_company_name}<br/>
                    <label>开户行：</label>{$value.remittance_num_company_bank}<br/>
                    <label>账号：</label>{$value.remittance_num_company}<br/>
                </td>
                <td class="info">
                    <label>户名：</label>{$value.remittance_num_private_name}<br/>
                    <label>开户行：</label>{$value.remittance_num_private_bank}<br/>
                    <label>账号：</label>{$value.remittance_num_private}<br/>
                </td>
                <td class="center">{$value.main_purchased_materials}</td><!-- 主要购入材料 -->
                <td class="center">{$value.note}</td><!-- 备注 -->
                <td class="center">{$value.create_timer}</td>

                <td class="center radio">{if condition="$value.display=='1'"}<span>开</span>{else}<span class="close">关</span>{/if}</td>

                <td class="center operation">

                    <a href="{:url('/admin/upplier/edit','id='.$value.id)}">编辑</a>

                    <a href="javaScript:upplier.delete('{:url('/admin/upplier/delete')}',['{$value.id}'])">删除</a>

                </td>
                {else}
                {if condition="$value.auditsupplier.audit_status == 0"}
                <td>{$k}</td>

                <td><input name="select" type="checkbox" value="{$value.id}" /></td>
                <td>{$value.auditsupplier.attribute}</td>
                <td>{$value.auditsupplier.company}</td>
                <td>{$value.auditsupplier.company_for_short}</td>

                <td class="info">
                    <label>联系人：</label>{$value.auditsupplier.contacts}<br/>
                    <label>职位：</label>{$value.auditsupplier.contacts_position}<br/>
                    <label>电话：</label>{$value.auditsupplier.tel}<br/>
                    <label>邮箱：</label>{$value.auditsupplier.email}<br/>
                </td>

                <td>{$value.auditsupplier.adress}</td>

                <td class="center">{if condition="$value.auditsupplier.type=='1'"}布料供应{elseif condition="$value.auditsupplier.type=='2'"}辅料供应{elseif condition="$value.auditsupplier.type=='3'"}材料加工{else}印花供应{/if}</td>
                <td class="center">{$value.auditsupplier.payment_days}</td><!-- 账期/付款方式 -->
                <td class="info">
                    <label>户名：</label>{$value.auditsupplier.remittance_num_company_name}<br/>
                    <label>开户行：</label>{$value.auditsupplier.remittance_num_company_bank}<br/>
                    <label>账号：</label>{$value.auditsupplier.remittance_num_company}<br/>
                </td>
                <td class="info">
                    <label>户名：</label>{$value.auditsupplier.remittance_num_private_name}<br/>
                    <label>开户行：</label>{$value.auditsupplier.remittance_num_private_bank}<br/>
                    <label>账号：</label>{$value.auditsupplier.remittance_num_private}<br/>
                </td>
                <td class="center">{$value.auditsupplier.main_purchased_materials}</td><!-- 主要购入材料 -->
                <td class="center">{$value.auditsupplier.note}</td><!-- 备注 -->
                <td class="center">{$value.auditsupplier.create_timer}</td>

                <td class="center radio">{if condition="$value.auditsupplier.display=='1'"}<span>开</span>{else}<span class="close">关</span>{/if}</td>

                <td class="center operation">

                    <a href="{:url('/admin/upplier/edit','id='.$value.id)}">编辑</a>

                    <a href="javaScript:upplier.delete('{:url('/admin/upplier/delete')}',['{$value.id}'])">删除</a></br>
                    <p>修改数据未审批</p>
                </td>
                {else}
                <td>{$k}</td>

                <td><input name="select" type="checkbox" value="{$value.id}" /></td>
                <td>{$value.attribute}</td>
                <td>{$value.company}</td>
                <td>{$value.company_for_short}</td>

                <td class="info">
                    <label>联系人：</label>{$value.contacts}<br/>
                    <label>职位：</label>{$value.contacts_position}<br/>
                    <label>电话：</label>{$value.tel}<br/>
                    <label>邮箱：</label>{$value.email}<br/>
                </td>

                <td>{$value.adress}</td>

                <td class="center">{if condition="$value.type=='1'"}布料供应{elseif condition="$value.type=='2'"}辅料供应{elseif condition="$value.type=='3'"}材料加工{else}印花供应{/if}</td>
                <td class="center">{$value.payment_days}</td><!-- 账期/付款方式 -->
                <td class="info">
                    <label>户名：</label>{$value.remittance_num_company_name}<br/>
                    <label>开户行：</label>{$value.remittance_num_company_bank}<br/>
                    <label>账号：</label>{$value.remittance_num_company}<br/>
                </td>
                <td class="info">
                    <label>户名：</label>{$value.remittance_num_private_name}<br/>
                    <label>开户行：</label>{$value.remittance_num_private_bank}<br/>
                    <label>账号：</label>{$value.remittance_num_private}<br/>
                </td>
                <td class="center">{$value.main_purchased_materials}</td><!-- 主要购入材料 -->
                <td class="center">{$value.note}</td><!-- 备注 -->
                <td class="center">{$value.create_timer}</td>

                <td class="center radio">{if condition="$value.display=='1'"}<span>开</span>{else}<span class="close">关</span>{/if}</td>

                <td class="center operation">

                    <a href="{:url('/admin/upplier/edit','id='.$value.id)}">编辑</a>

                    <a href="javaScript:upplier.delete('{:url('/admin/upplier/delete')}',['{$value.id}'])">删除</a>

                </td>
                {/if}
                {/if}

            </tr>

            {/volist}

        </tbody>

    </table>

</div>

<div class="canvas_title do-clear">

    <ul class="tab_btn tab_btn_fl fl">

        <li><a href="{:url('/admin/upplier/add','id='.$type)}">添加</a></li>

        <li><a href="javaScript:upplier.deleteall('{:url('/admin/upplier/delete')}')">删除</a></li>

    </ul>

    {$pageDiv}

</div>