<style>
  .label {
    
  }
  .add_from li {
    line-height: 28px;
    font-size: 14px;
    min-height: 28px;
    position: relative;
    padding-left: 105px;
    float: left;
    min-width: 230px;
    margin-bottom: 5px;
  }
  .add_from li label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    color: #F90;
  }
</style>
<div class="modelbox">

    <div class="canvas_title do-clear">

        <h3>材料信息</h3>

    </div>

<!--<div class="canvas_title do-clear">

     <ul class="tab_nav fl">

        <li class="current"><a href="javaScript:void(0)">材料信息</a></li>

        <li ><a href="">供应商</a></li> 

    </ul>

</div>-->



    <ul class="infobox do-clear" style=""><!-- margin: 10px 20px 30px 60px;font-size: 18px;text-align: left; -->

        <li>

           <label class="label">财务编码：</label>

           <input type="hidden" id="id" name="id" value="{$data.id}" />

          <span>{$data.finance_num}</span>

        </li>

        <li>

           <label class="label">物料名称：</label>

          <span>{$data.name}</span>

       </li>

       <li>

           <label class="label">材料类型：</label>

           <span>{$data.type}</span>

       </li>

       <li>

           <label class="label">型号/规格：</label>

           <span>{$data.size}</span>

       </li>

       <li>

           <label class="label">物料属性：</label>

           <span>{$data.att}</span>

       </li>

       <li>

           <label class="label">单位：</label>

           <span>{$data.company}</span>

       </li>

       <li>

           <label class="label">大致价格：</label>

           <span>{$data.money|sprintf='%.2f',###}</span>

       </li>

       <li>

           <label class="label">备货周期：</label>

           <span>{$data.choice}天</span>

       </li>

       <li>

           <label class="label">状态：</label>
           {if condition="$data.display=='1'"}
               <span>上架</span>
               {else}
               <span>下架</span>
          {/if}

       </li>
       <li>
         <label class="label">供应商：</label>
         <ul class="factory">

         {volist name='data.materialupplier' id='upplier' key='k'}
         <li>
          <h4><b>{$upplier.company}</b></h4>
          <i>Tel:{$upplier.tel}</i>
          <i>类型:{if condition="$upplier.type=='1'"}布料供应{elseif condition="$upplier.type=='2'"}辅料供应{else}材料加工{/if}</i>
        </li>
        {/volist}
        </ul>
       </li>

           <!-- <a href="javaScript:material.save('{:url('/admin/warehouse/save')}')">保存</a>
 -->
       

    </ul>




<div class="canvas_title do-clear">

        <ul class="tab_btn fr">

            <li><a href="javaScript:openModel.close()">确定</a></li>

        </ul>

    </div>
</div>