<?xml version="1.0" encoding="utf-8"?>
<config>
   <orderli>{:url('/index/weight/listdata','','',true)}</orderli> <!--订单列表-->
   <EditOrder>{:url('/index/weight/editweight','','',true)}</EditOrder><!--添加列表-->
   <Country>http://webapi.38420.com/api/Order/QueryOrder2</Country> <!--获取国家-->
   <UpDown>{:url('/index/weight/updown','','',true)}</UpDown> <!--下载EMS数据-->
   <Customs>{:url('/index/weight/custom','','',true)}</Customs> <!--获取要报关的orderID-->
   <CustomsExcel>http://admin.entsku.com/__/_jc/agent/order.ashx?ActFlag=Order.ExlForBao</CustomsExcel><!--导出报关数据-->
</config>
