<?xml version="1.0" encoding="utf-8"?>
<!--版本信息以及配置-->
<config>
   <!--版本号-->
   <version>v1.1.0 (飞飞鱼工厂订单管理系统)</version>
   <!--socket地址-->
   <Adress>139.196.29.213</Adress>
   <!--数据地址-->
   <Port>843</Port>
   <!--平台信息-->
   <adminInfo>{:url('/index/air/info','','',true)}</adminInfo>
   <!--提交订单到服务器-->
   <loginURL>{:url('/index/air/login','','',true)}</loginURL>
   <!--类目地址-->
   <NavURL>{:url('/index/air/nav','','',true)}</NavURL>
   <!--修改密码-->
   <EditPwd>{:url('/index/air/editpwd','','',true)}</EditPwd>
   <!--修改工厂信息-->
   <EditInfo>{:url('/index/air/editinfo','','',true)}</EditInfo>
   <!--订单信息-->
   <OrderURL>{:url('/index/air/order','','',true)}</OrderURL>
   <!--设置为生产中-->
   <OrderInproductURL>{:url('/index/air/inproduct','','',true)}</OrderInproductURL>
   <!--获取SKU的地址-->
   <GetSkuURL>{:url('/index/air/getsku','','',true)}</GetSkuURL>
   <!--打印图的配置文件-->
   <PrintConfig>{:url('/index/air/printconfig','','',true)}</PrintConfig>
   <!--保存图片名称-->
   <SaveImgURL>{:url('/index/air/saveskuimg','','',true)}</SaveImgURL>
   <!--获取excel地址-->
   <CreateExcel>{:url('/index/air/createexcel','','',true)}</CreateExcel>
   <!--code地址-->
   <CodeURL>{:url('/index/air/code','codebar=BCGcode128&size=1','',true)}?</CodeURL>
</config>