<?xml version="1.0" encoding="utf-8"?>
<OrderData>
   <Page total="{$list->lastPage()}" currentPage="{$list->currentPage()}" count="{$list->total()}" allCount="{$allCount}" />
   <NavsIndex>
       {assign name='total' value='0'}
       {volist name='newnav' id='nav'}
       <Nav value="{$nav.product_id}">{$nav.count}</Nav>
       {assign name='total' value='$total+$nav.count'}
       {/volist}
      <Nav value="">{$total}</Nav>
   </NavsIndex>
   <Orders>
      {volist name="list" id="value"}
	  <Order>
	     <id>{$value.id}</id>
         <IsFBA>{$value.IsFBA}</IsFBA><!--是否fba-->
	     <BatchCode>{$value.BatchCode}</BatchCode><!--批次号-->
	     <OrdSum>{$value.OrdSum}</OrdSum><!--同订单产品总数量-->
	     <OrdNum>{$value.OrdNum}</OrdNum>  <!--订单号-->
		 <OdrId>{$value.OdrId}</OdrId>  <!--订单号-->
		 <TrnNo>{$value.TrnNo}</TrnNo>
		 <GdsSku>{$value.GdsSku}</GdsSku>  <!--SKU号-->
		 <ImgURL>{$value.ImgURL}</ImgURL>  <!--图片路径-->
		 <GdsNum>{$value.GdsNum}</GdsNum>  <!--订单数量-->
		 <Type>{$value.Type}</Type> <!---图片类型-->
		 <SpecName>{$value.SpecName}</SpecName>  <!--型号-->
		 <OdrMemo>{$value.OdrMemo}</OdrMemo>    <!--下单备注-->
		 <FFYMemo>{$value.FFYMemo}</FFYMemo>  <!--下单备注-->
		 <BlackNum>{$value.BlackNum}</BlackNum>   <!--返工次数-->
		 <Library>{if condition="$value.endboo=='0'&&$value.sign=='2'"}1{else}0{/if}</Library>  <!--费用-->
		 <Library_time>{:date('Y-m-d',strtotime($value.library_time))}</Library_time>
                 <Sign>{if condition="$value.status=='2'||$value.status=='3'"}{$value.status}{else}1{/if}</Sign> <!--签收状态，1未签收，2已签收,3取消生产-->
                 <SignMemo>{$value.SignMemo}</SignMemo>  <!--签收备注-->
                 <AmzTimer>{:date('Y-m-d',strtotime($value.AmzTimer))}</AmzTimer> <!--亚马逊下单时间-->
                 {if condition="$value.status<2"}{assign name="endtime" value=":date('Y-m-d h:i:s')"}{else}{assign name="endtime" value="$value.SignTimer"}{/if}
                 <TimeNum>{assign name='alldata' value=":floor((strtotime($endtime)-strtotime($value.AmzTimer))/(3600*24))"}{if condition="$alldata>0"}{$alldata}{else}0{/if}</TimeNum><!--订单已经几天了-->
                 <GetTimer>{:date('Y-m-d',strtotime($value.GetTimer))}</GetTimer>  <!--提交给工厂的时间-->
		 <SignTimer>{:date('Y-m-d',strtotime($value.SignTimer))}</SignTimer> <!--平台签收时间-->
                 <ProTimer>{:date('Y-m-d h:i',strtotime($value.pro_time))}</ProTimer><!--生产中时间-->
		 <Urgent>{$value.Urgent}</Urgent>  <!--是否加急，加急置顶-->
                 <OpenBoo>{if condition="$value.sign>0"}1{else}0{/if}</OpenBoo>  <!--是否有打开过图片，有打开过视为生产中-->
                 <ProductClass>{$value.product_id}</ProductClass> <!--类型ID-->
                 {assign name='product' value=':GetMenu($user_id,$value.product_id)'}
                 <Catalog>{$product.Catalog}</Catalog><!--是否需要按照目录生成-->
                 <ProductClassName>{$product.name}</ProductClassName>
		 <PrintImgURL>{$value.PrintImgURL}</PrintImgURL>
          <print_subscript>{$value.print_subscript}</print_subscript><!--打印下标-->
	  </Order>
	  {/volist}
   </Orders>
</OrderData>