<?xml version="1.0" encoding="utf-8"?>
<!--版本信息以及配置-->
<config>
   <!--特效连接地址-->
   <EffectURL>data/effect.xml</EffectURL>
   <!--用ID获取字体的设计内容-->
   <GetTextDesignURL></GetTextDesignURL>
   <!--产品数据路径-->
   <ProductURL>
      <A><![CDATA[http://admin.entsku.com/__/_jc/swf/model.ashx?act=get&type=mast&]]></A>
   </ProductURL>
   <!--模型数据路径-->
   <TerritoryURL>
      <A>http://admin.entsku.com/__/_jc/swf/model.ashx?type=terr</A>
   </TerritoryURL>
   <!--设计稿地址-->
   <DesignURL>
      <A>http://admin.entsku.com/__/_jc/swf/goods.ashx?act=get</A>
   </DesignURL>
   <ImgAdress>
      <A>http://kjds-img.img-cn-shanghai.aliyuncs.com/</A>
   </ImgAdress>
   <ImgSize>
      <A>@0e_0o_1l_500h_500w.src</A>
   </ImgSize>
</config>